.photography {
  overflow: hidden scroll;
  background-color: var(--black);
}

.photos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: unset;
}

.new-photo {
  width: 60%;
  height: fit-content;
  object-fit: contain;
}

@media screen and (max-width: 960px) {
  .photos {
    gap: var(--small-padding);
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: unset;
  }

  .new-photo {
    width: 100%;
    height: fit-content;
    object-fit: contain;
  }
}
