.project {
  display: flex;
  flex-direction: column;
  gap: var(--big-padding);
  padding: 0 var(--big-padding);
  align-items: center;

  margin-top: 10vh;
  height: unset;
}

.project-info,
.project-images {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--big-padding);
}

.project-images {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.project-title {
  width: 50%;
  font-family: var(--main);
  font-size: 32pt;
  font-weight: 800;
}

.project-description {
  width: 50%;
  text-align: left;
  letter-spacing: 0.04em;
  line-height: 1.2em;
}

.new-project-image {
  width: 45%;
  height: fit-content;
}

@media screen and (max-width: 960px) {
  .project {
    flex-direction: column;
    gap: var(--small-padding);
    padding: 0 var(--small-padding);
  }

  .project-info {
    width: 100%;
    padding: 0px;
    padding-top: var(--small-padding);
    gap: var(--small-padding);
  }

  .project-images {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin-left: -20px;
    margin-bottom: var(--big-padding);
  }

  .project-title {
    width: 80%;
    font-size: 22pt;
  }

  .project-description {
    width: 80%;
  }

  .new-project-image {
    width: 80%;
    height: fit-content;
    object-fit: contain;
  }
}
