:root {
  --big-padding: 40px;

  --main: #34100a;
  --secondary: #cbcac5;
}

.App {
  text-align: center;
  background: var(--main);
  color: var(--secondary);
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
}

.nav, .footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  align-content: center;

  box-sizing: border-box;
  padding: var(--big-padding);

  font-family: 'MuseoModerno', cursive;
}

.photo_container {
  height: 80vh;
  box-sizing: border-box;
  padding: 0 var(--big-padding);
  overflow: hidden;

  display: flex;
  flex-direction: row;
  gap: var(--big-padding);
  flex-wrap: wrap;
}

.photo {
  height: 200px;
  border-radius: 20px;
}

.photo:hover {
  border-radius: 160px 20px 20px 20px;
  transition: border-radius .4s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.footer {
  font-family: sans-serif;
}